h2 {
    display: grid;
    text-align: left;
    font-size: 25px;
  }
  
  hr {
    display: grid;
    width: 340px;
    margin-left: 0px;
  }
  
  .me {
    display: grid;
    width: 120px;
    margin-top: -1px;
    margin-left: 30px;
  }
  
  h3 {
    display: grid;
    margin-top: -80px;
    margin-left: 180px;
    font-size: 25px;
  }
  
  .fondo {
    background-color: lightblue;
    width: 500px;
    height: 190px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 245),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  
  footer {
    
    background-color: lightblue;
    width: 500px;
    height: 50px;
    text-align: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 245),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  